Additional DHCP options to announce NTP Server address.

DHCP has the ability to announce network time servers as part of the DHCP Offer.

Option 004 specifies servers that provide TIME/ITP (as per RFC 868). This is not a recommended protocol/service in a Windows environment.

Option 042 specifies servers that provide NTP/SNTP (RFC 1769). This is the preferred time service in a Windows environment.

By adding these options, pointing to the ESP8266's IP address, some devices would be able to automatically learn the time servers IP address without further configuration.

These DHCP options are specified in the DHCP RFC (RFC 2132).


Hi!

Sounds like a very good addition. Will work on that and let this open until done.

Thanks!

I'm not really a developer, but from poking around, it looks like the changes might need to take place in this file:

https://github.com/esp8266/Arduino/blob/master/cores/esp8266/LwipDhcpServer.cpp

Lines 127-138 define the existing options, where they get utilized later on in the code.

Thanks